<a href="https://colab.research.google.com/github/McGilfordJose/BEDU/blob/main/Postwork5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# POSTWORK 5
* Explora tu dataset con el fin de encontrar los NaNs que contiene. Piensa en la distribución de NaNs por columna y por fila.
* Piensa cuáles son los procedimientos que puedes aplicar a tus NaNs. ¿Tenemos que eliminar las filas/columnas que tienen esos NaNs? ¿O podríamos rellenar esos NaNs con algún valor de manera que podamos retener esas filas/columnas?
* Limpia tu dataset de manera que no quede ningún NaN.
* Reindexa tu dataset si lo consideras necesario.
* Renombra tus columnas si lo consideras necesario.
* Prueba aplicar agregaciones a tu DataFrame para ver si puedes empezar a responder algunas de las preguntas que te planteaste anteriormente. Aquí tienes una lista de algunas de las funciones que puedes utilizar para agregar/reducir tu dataset: IMG Si tienes cualquier duda, ¡pregúntale a tu experto!

In [2]:
import pandas as pd #importamos pandas
import numpy as np #importando numpy

In [12]:
datos =  pd.read_csv("https://raw.githubusercontent.com/McGilfordJose/BEDU/main/Python/Datasets/Consolidado.csv", encoding='ISO-8859-1')
datos

      Año  ... COVID.19
0    2005  ...        0
1    2005  ...        0
2    2005  ...        0
3    2005  ...        0
4    2005  ...        0
..    ...  ...      ...
187  2020  ...        1
188  2020  ...        1
189  2020  ...        1
190  2020  ...        1
191  2020  ...        1

[192 rows x 59 columns]