<a href="https://colab.research.google.com/github/McGilfordJose/BEDU/blob/main/Postwork5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# POSTWORK 5
* Explora tu dataset con el fin de encontrar los NaNs que contiene. Piensa en la distribución de NaNs por columna y por fila.
* Piensa cuáles son los procedimientos que puedes aplicar a tus NaNs. ¿Tenemos que eliminar las filas/columnas que tienen esos NaNs? ¿O podríamos rellenar esos NaNs con algún valor de manera que podamos retener esas filas/columnas?
* Limpia tu dataset de manera que no quede ningún NaN.
* Reindexa tu dataset si lo consideras necesario.
* Renombra tus columnas si lo consideras necesario.
* Prueba aplicar agregaciones a tu DataFrame para ver si puedes empezar a responder algunas de las preguntas que te planteaste anteriormente. Aquí tienes una lista de algunas de las funciones que puedes utilizar para agregar/reducir tu dataset: IMG Si tienes cualquier duda, ¡pregúntale a tu experto!

In [ ]:
import pandas as pd #importamos pandas
import numpy as np #importando numpy

In [ ]:
datos =  pd.read_csv("https://raw.githubusercontent.com/McGilfordJose/BEDU/main/Python/Datasets/Consolidado.csv", encoding='ISO-8859-1')
datos

      Año  ... COVID.19
0    2005  ...        0
1    2005  ...        0
2    2005  ...        0
3    2005  ...        0
4    2005  ...        0
..    ...  ...      ...
187  2020  ...        1
188  2020  ...        1
189  2020  ...        1
190  2020  ...        1
191  2020  ...        1

[192 rows x 59 columns]

In [ ]:
datos.head()

    Año  ... COVID.19
0  2005  ...        0
1  2005  ...        0
2  2005  ...        0
3  2005  ...        0
4  2005  ...        0

[5 rows x 59 columns]

In [ ]:
datos.tail()

      Año  ... COVID.19
187  2020  ...        1
188  2020  ...        1
189  2020  ...        1
190  2020  ...        1
191  2020  ...        1

[5 rows x 59 columns]

In [ ]:
indexes = datos["Año"]
indexes

0      2005
1      2005
2      2005
3      2005
4      2005
       ...
187    2020
188    2020
189    2020
190    2020
191    2020
Name: Año, Length: 192, dtype: int64

In [ ]:
datos.index=datos["Año"]
datos

       Año  ... COVID.19
Año         ...
2005  2005  ...        0
2005  2005  ...        0
2005  2005  ...        0
2005  2005  ...        0
2005  2005  ...        0
...    ...  ...      ...
2020  2020  ...        1
2020  2020  ...        1
2020  2020  ...        1
2020  2020  ...        1
2020  2020  ...        1

[192 rows x 59 columns]

In [27]:
datos.isna().sum(axis=1)

Año
2005    1
2005    1
2005    1
2005    1
2005    1
       ..
2020    0
2020    0
2020    0
2020    0
2020    0
Length: 192, dtype: int64

In [32]:
datos=datos.fillna(0)
datos

       Año  ... COVID.19
Año         ...
2005  2005  ...        0
2005  2005  ...        0
2005  2005  ...        0
2005  2005  ...        0
2005  2005  ...        0
...    ...  ...      ...
2020  2020  ...        1
2020  2020  ...        1
2020  2020  ...        1
2020  2020  ...        1
2020  2020  ...        1

[192 rows x 59 columns]

In [36]:
datos.isna().sum(axis=1) #Checamos que no tengamos NAN

Año
2005    0
2005    0
2005    0
2005    0
2005    0
       ..
2020    0
2020    0
2020    0
2020    0
2020    0
Length: 192, dtype: int64

In [33]:
datos.head()

       Año  ... COVID.19
Año         ...
2005  2005  ...        0
2005  2005  ...        0
2005  2005  ...        0
2005  2005  ...        0
2005  2005  ...        0

[5 rows x 59 columns]

In [35]:
datos.describe()

              Año  ...    COVID.19
count   192.00000  ...  192.000000
mean   2012.84375  ...    0.046875
std       4.63388  ...    0.211924
min    2005.00000  ...    0.000000
25%    2008.75000  ...    0.000000
50%    2013.00000  ...    0.000000
75%    2017.00000  ...    0.000000
max    2020.00000  ...    1.000000

[8 rows x 58 columns]